body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fffffa;
  color: #2f2f2f;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
}

a:link {
  color: #2f2f2f;
}

a:visited {
  color: #2f2f2f;
}

a:hover {
  color: #2f2f2f;
}

a:active {
  color: #2f2f2f;
}

.error-placeholder-container {
  height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
