.image-grid-container {
  display: flex;
}

.image-grid {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.cell-image {
  vertical-align: middle;
  width: 100%;
}

.cell-container {
  margin: 0.5rem;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 26px -10px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 26px -10px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 26px -10px rgba(0, 0, 0, 0.66);
}

.image-grid-loading-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 1rem;
}

.image-grid-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: center;
}

@media only screen and (min-width: 800px) {
  .image-grid-column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .image-grid-column {
    max-width: 100%;
  }
}
