@media only screen and (min-width: 800px) {
  .main-container {
    margin-top: 1rem;
    min-height: 80vh;
    display: flex;
    width: 86vw;
    align-self: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .main-container {
    margin-top: 1rem;
    min-height: 80vh;
    display: flex;
    width: 98vw;
    align-self: center;
    flex-direction: column;
  }
}
